# {{ ansible_managed }}

[Unit]
Description=restic remote prune on %i
After=network.target

[Service]
User={{ restic_server_user }}
Group={{ restic_server_group }}
EnvironmentFile=/etc/systemd/system/restic-remote-@.service.d/defaults.env
EnvironmentFile=/etc/systemd/system/restic-remote-@.service.d/%i.env
ExecStart=/usr/bin/ssh \
	%i \
	-l ${SSH_USER} \
	-R ${SSH_REMOTE_LISTEN_PORT}:localhost:{{ restic_server_listen_port }} \
	-T \
	/usr/bin/sudo /bin/systemctl start restic-prune.service

[Install]
WantedBy=multi-user.target
